.app-card {
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s ease;
  &:hover {
   transform: scale(1.02);
   background-color: var(--theme-bg-color);
  }
  &-title{
    display: flex;
    justify-content: space-between;
  }
  &-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 16px;
   }
  span {
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 200ms, transform 200ms;
  }
  &:hover span{
    opacity: 1;
    transform: translateY(0);
   }
}