.content-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--theme-color);
  padding: 20px 40px;
  height: 100%;
  width: 100%;
  background-color: var(--theme-bg-color);
  overflow: auto;
  @media screen and (max-width: 510px) {
   padding: 20px;
  }
  .content-title {
    margin-left: 10px;
  }
  .apps-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 15px;
   }

   .main-footer{
    position: fixed;
    bottom: 50px;
    .preview{
      padding: 10px;
      text-align: center;
      background-color: var(--theme-bg-color);
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      .preview__btn{
        background: none;
        padding: 8px 26px;
        color: var(--button-inactive);
        border: 1px solid var(--button-inactive);
        border-radius: 20px;
        margin-top: 16px;
        cursor: pointer;
        transition: 0.3s;
        white-space: nowrap;
      }
    }
   }
}
