@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --theme-bg-color: rgba(16 18 27 / 50%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg:  #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
 }
 

body {
  font-family: var(--body-font);
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
 }

 .App {
  .video-bg{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .main{
    position: relative;
    background-color: var(--theme-bg-color);
    backdrop-filter: blur(60px);
    max-width: 1800px;
    max-height: 900px;
    height: 100%;
    overflow: hidden;
    border-radius: 14px;
    .wrapper{
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      height: 680px;
      .left-side {
        flex-basis: 240px;
        border-right: 1px solid var(--border-color);
        padding: 26px;
        overflow: auto;
        flex-shrink: 0;
      }
      .main-container {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
      }
    }
  }
}

